/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', Arial, sans-serif;
  font-size: 14px !important; /* 전체 글꼴 크기를 줄입니다. */
}

/* 입력 필드와 셀렉트 박스 크기 조정 */
.MuiTextField-root,
.MuiFormControl-root,
.MuiSelect-root {
  font-size: 12x !important; /* 텍스트 크기 조정 */
  height: 40px !important; /* 높이 조정 */
}

.MuiInputLabel-root {
  font-size: 14px !important; /* 레이블 크기 조정 */
}

.MuiButton-root {
  font-size: 14px !important; /* 버튼 텍스트 크기 조정 */
  height: 40px !important; /* 버튼 높이 조정 */
}

.MuiOutlinedInput-input {
  padding: 10px !important; /* 입력 필드 안쪽 여백 조정 */
  font-size: 14px !important; /* 입력 필드 텍스트 크기 조정 */
}

/* 셀렉트 박스 항목 크기 조정 */
.MuiMenuItem-root {
  font-size: 14px !important;
}



.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}